/*  your css code here. If applicable */
h4{
	text-align:center;
	padding-top:5px;
}
.a{
	background-color:#cccccc;
	margin-left:1px;
	margin-right:1px;
}
.player_one{
	background-color:white;
	border:0.5px solid grey;
	border-radius:5px;
}
li{
	text-decoration: none;
}
h5{
	text-align:center;
}
.player_two{
/* 	width:50%; */
	align:center;
	border:0.5px solid black;
	background-color:white;
/* 	align-content:center; */
	display:flex;
	flex-direction:column;
}

















